{# empty Twig template #}
{% extends "PPCoreBundle::layout.html.twig" %}

{% block pp_body %}
    <div class="container">

        <div class="row">
            <div class="box boxl">
                <div class="text-center">
                    <h2 class="border-title-astuce">{{ astuce.title }}</h2>
                    <p>{{ astuce.text }}</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %} 

{# empty Twig template #}
