{# empty Twig template #}
{% extends "PPCoreBundle::layout.html.twig" %}

{% block body %}
    {% block pp_body %}
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="text-center">
                        <h1>Utilisateurs</h1>
                        <table>
                                <tr>
                                    <td class="td-style">Nom</td>
                                    <td class="td-style">Mail</td>
                                    <td>Suppression</td>
                                </tr>
                                {% for manageuser in manageusers %}
                                <tr>
                                    <td>{{ manageuser.username }}</td>
                                    <td>{{ manageuser.email }}</td>
                                    <td><a href="{{ path('core_delete_user',{'id':manageuser.id}) }}"><button class="button-delete btn">Supprimer</button></a></td>         
                                </tr>
                                
                                {% endfor %}
                            </table>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}